<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find ouster_description)/urdf/OS1-64.urdf.xacro" />
    
    <xacro:OS1-64 parent="bulkhead_front_mount_link" name="front_lidar" topic_points="/ouster/points/front"
        topic_imu="/ouster/imu/front" hz="1" lasers="128" samples="128" lidar_link="front_lidar_link"
        imu_link="front_lidar_imu">
        <origin xyz="0.25 0 0.05" rpy="0 0 0" />
    </xacro:OS1-64>

    <xacro:OS1-64 parent="bulkhead_front_mount_link" name="rear_lidar" topic_points="/ouster/points/rear"
        topic_imu="/ouster/imu/rear" hz="1" lasers="128" samples="128" lidar_link="rear_lidar_link"
        imu_link="rear_lidar_imu">
        <origin xyz="-0.95 0 0.05" rpy="0 0 0" />
    </xacro:OS1-64>

</robot>